{% extends "includes/base.html"%}
{% load static %}
{% block title %}All Status{% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'story7/style.css' %}" />
    {% endblock %}
{% block content %}

        <div class="container">
          <div class="row justify-content-center mt-5 mb-5">
            <div class="col-md-7">
              <div class="card jus">
                <div class="card-body">
                  <h1 class="card-title">All Status</h1>
                  <div class="card jus">
                    <div class="card-body">
                        {% for i in all_status %}
                        <div class container>
                            <div class = "card jus row justify-content-center mt-2 mr-5 ml-5">
                                <div class= "card-body">
                                    <p><b>Nama : </b> {{ i.nama }}</p>
                                    <p><b>Pesan/Status : </b>{{ i.pesan }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class container>
                            <div class = "card jus row justify-content-center mt-2 mr-5 ml-5">
                                <form action = "{% url 'confirm' %}" method = 'POST'>
                                <div class= "card-body  ">
                                    {% csrf_token %}
                                    {% load crispy_forms_tags %}
                                    <p><b>{{ form_status|crispy }}</b></p>
                                </div>
                                <button type="submit" id = "btn" class="btn btn-success btn-dark btn-lg btn-block">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

{% endblock %}