{% extends "includes/base.html"%}
{% load static %}
{% block title %}All Status{% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'story7/style.css' %}" />
    {% endblock %}
{% block content %}
        <div class="container">
          <div class="row justify-content-center mt-5 mb-5">
            <div class="col-md-7">
              <div class="card jus">
                <div class="card-body">
                  <h1 class="card-title">Confirmation</h1>
                  <div class="card jus">
                    <div class="card-body">
                        <div class container>
                            <div class = "card jus row justify-content-center mt-2 mr-5 ml-5">
                                <form action = "{% url 'all' %}" method = 'POST'>
                                    <div class= "card-body  ">
                                        {% csrf_token %}
                                        <h5><b>Nama  :</b> {{nama}}</h5>
                                        <br>
                                        <h5><b>Pesan :</b> {{pesan}}</h5> 
                                        <input type="hidden" name="nama" value="{{nama}}" />
                                        <input type="hidden" name="pesan" value="{{pesan}}" />
                                    </div>
                                    <button type="submit" id = "btn2" class="btn btn-success btn-dark btn-lg btn-block">Submit</button>
                                    <a class="btn btn-success btn-dark btn-lg btn-block" href="{% url 'all' %}" role="button">Cancel</a>
                                </form>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}