body{
  background-image: url("/static/brown.png");
  color: #35150F;
  font-family: "Roboto", sans-serif;
}
.card-title{
    color: #35150F;
}
.card-body{
    background-color: #907964;
    color: #35150F;
}
p{
    color:#35150F;
}
.btn{
    color: #fff;
    background-color: #35150F;
    border-color: #35150F;
}
#container{
    background-color: #ffcc99;
    color: #ffcc99;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .about-data-container {
      flex-direction: column;
    }

    #timeline {
        width: 100%;
    }

    .timeline-container {
        overflow-x: scroll;
    }
  }