{% extends "includes/base.html"%} {% load static %} {% block title %}Login
{%endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'story7/style.css' %}" />
{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-md-7">
      <div class="card jus">
        <div class="card-body">
          <h1 class="card-title">Login</h1>
          <div class="card jus">
            <div class="card-body">
              <div class container>
                <div class="card jus row justify-content-center mt-2 mr-5 ml-5">
                  <form method="POST">
                    <div class="card-body">
                      {% if form.errors %}
                      <p class="d-flex justify-content-center">
                        Your username and password didn't match.
                      </p>
                      {% endif %} {% if next %} {% if user.is_authenticated %}
                      <p class="d-flex justify-content-center">
                        Your account doesn't have access to this page. To
                        proceed, please login with an account that has access.
                      </p>
                      {% else %}
                      <p class="d-flex justify-content-center">Please login to see this page.</p>
                      {% endif %} {% endif %}

                      <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <table class="d-flex justify-content-center">
                          <tr>
                            <h6><td>{{ form.username.label_tag }}</td></h6>
                            <h6><td>{{ form.username }}</td></h6>
                          </tr>
                          <tr></tr>
                          <td></td>
                          <tr>
                            <h6><td>{{ form.password.label_tag }}</td></h6>
                            <td>{{ form.password }}</td>
                          </tr>
                        </table>
                        <h2></h2>
                        <button
                          type="submit"
                          id="btn2"
                          value="login"
                          class="btn btn-success btn-dark btn-lg btn-block"
                        >
                          Login
                        </button>

                        <input type="hidden" name="next" value="{{ next }}" />
                      </form>
                    </div>
                  </form>
                </div>
                <P></P>
                <a href="{% url 'signup' %}"><p class="d-flex justify-content-center">Dont have an account? Sign up here</p></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
