{% extends "includes/base.html"%} 
{% load static %} 
{% block title %}Library{% endblock %} 
{% block css %}
<link rel="stylesheet" href="{% static 'story9/style.css' %}" />
{% endblock %} 
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
      <div class="col-md-10">
        <div class="card jus">
          <div class="card-body">
              <div class="row d-flex justify-content-between ml-5 mr-5">
                <h1 class="card-title">Story 9</h1>
                <!-- Button trigger modal -->
                <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalLong">
                    Most Liked
                </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Most Liked Books</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div id="liked-books">
                            
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            <div class="card jus mt-2">
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="md-15">
                      <form id="searchform">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Search"
                      aria-label="Search"
                      id="search"
                      placeholder="Search.."
                    />
                  </div>
                  <button type="submit" class="btn btn-dark">Submit</button>
                  </form>
                </div>
                <div id="result"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 
{% block js %}
<script
src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
crossorigin="anonymous"
></script>
<script
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"
></script>
<script src="{% static 'story9/main.js' %}"></script>
{% endblock %}
