{% extends "includes/base.html"%}
{% load static %}
{% block title %}Welcome{% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'story7/style.css' %}" />
    {% endblock %}
{% block content %}
        <div class="container">
          <div class="row justify-content-center mt-5 mb-5">
            <div class="col-md-7">
              <div class="card jus">
                <div class="card-body">
                  <h1 class="card-title">Welcome ~ {{ user }}</h1>
                  <div class="card jus">
                    <div class="card-body">
                        <div class="container ">
                          <div class="card-body">
                            <div class="d-flex justify-content-center card-body img-fluid">
                              <img src="{{ user.profile.profile_pic }}"  height="200" width="250"/>
                            </div>
                            <h6 class="d-flex justify-content-center">Nama : {{user}}</h6>
                            <h6 class="d-flex justify-content-center">Bio  :</h6>
                            <h6 class="d-flex justify-content-center">{{user.profile.bio}}</h6>
                            <h6></h6>
                          </div>
                            <div class = "card jus row justify-content-center mt-2 mr-5 ml-5">
                                <a href="{% url 'logout' %}" class="btn btn-info" role="button">Logout</a>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}