{% extends "includes/base.html"%} {% load static %} {% block title %}Sign Up
{%endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'story7/style.css' %}" />
{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-md-7">
      <div class="card jus">
        <div class="card-body">
          <h1 class="card-title">Sign Up</h1>
          <div class="card jus">
            <div class="card-body">
              <div class container>
                <div class="card jus row mt-2 mr-5 ml-5">
                  <form method="POST">
                    <div class="card-body">
                        <form method="post">
                          {% csrf_token %}
                          {% for field in form %}
                            <p class="d-flex flex-column justify-content-center">
                              {{ field.label_tag }}
                              {{ field }}
                              {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                              {% endfor %}
                            </p>
                          {% endfor %}
                          <button
                          type="submit"
                          id="btn2"
                          value="login"
                          class="btn btn-success btn-dark btn-lg btn-block"
                        >
                          Sign Up
                        </button>
                        </form>
                      </form>
                    </div>
                  </form>
                </div>
                <P></P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
