{% extends "includes/base.html"%}
{% load static %}
{% block title %}Unknown{% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'story7/style.css' %}" />
    {% endblock %}
{% block content %}
        <div class="container">
          <div class="row justify-content-center mt-5 mb-5">
            <div class="col-md-7">
              <div class="card jus">
                <div class="card-body">
                  <h1 class="card-title">You need to login</h1>
                  <div class="card jus">
                    <div class="card-body">
                        <div class container>
                            <div class = "card jus row justify-content-center mt-2 mr-5 ml-5">
                                <a href="{% url 'login' %}" class="btn btn-info" role="button">Login</a>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}