{% extends "includes/base.html"%}
{% load static %}
{% block title %}All Status{% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'story7/style.css' %}" />
    {% endblock %}
{% block content %}
        <div class="container">
          <div class="row justify-content-center mt-5 mb-5">
            <div class="col-md-7">
              <div class="card jus">
                <div class="card-body">
                  <h1 class="card-title">Story 8</h1>
                  <div class="card jus">
                    <div class="card-body">
                        <div id = "accordion">
                            <div class= "identitas">
                                <div class = "card jus row justify-content-center mt-2 mr-5 ml-5">
                                    <div class="container">
                                        <div class="row justify-content-between">
                                        <h4 class="ml-2 mt-1 mb-0" id="identitas">Identitas Diri</h4>
                                        <div class="button">
                                            <button type="button" id="identitas_down">v</button>
                                            <button type="button" id="identitas_up">ʌ</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class = "card jus row justify-content-center mt-0 mr-5 ml-5">
                                <h6 class="ml-4 mt-1 mb-0" id="isi_identitas">
                                    Nama : Steven Wiryadinata Halim <br>
                                    NPM : 1906350622 <br>
                                    Jurusan : Ilmu Komputer
                                </h6>
                            </div>
                            </div>
                            <div class= "pengalaman">
                                <div class = "card jus row justify-content-center mt-2 mr-5 ml-5">
                                    <div class="container">
                                        <div class="row justify-content-between">
                                        <h4 class="ml-2 mt-1 mb-0" id="pengalaman">Pengalaman Staff / Organisasi</h4>
                                        <div class="button">
                                            <button type="button" id="pengalaman_down">v</button>
                                            <button type="button" id="pengalaman_up">ʌ</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class = "card jus row justify-content-center mt-0 mr-5 ml-5">
                                    <h6 class="ml-4 mt-1 mb-0" id="isi_pengalaman">
                                        <ul>
                                            <li>IT Dev BEM Fasilkom UI</li>
                                            <li>IT Dev Vesakh KMB UI</li>
                                        </ul>
                                    </h6>
                                </div>
                            </div>
                            <div class= "prestasi">
                                <div class = "card jus row justify-content-center mt-2 mr-5 ml-5">
                                    <div class="container">
                                        <div class="row justify-content-between">
                                        <h4 class="ml-2 mt-1 mb-0" id="prestasi">Prestasi</h4>
                                        <div class="button">
                                            <button type="button" id="prestasi_down">v</button>
                                            <button type="button" id="prestasi_up">ʌ</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class = "card jus row justify-content-center mt-0 mr-5 ml-5">
                                    <h6 class="ml-4 mt-1 mb-1" id="isi_prestasi"> Mampu Bertahan Hidup sampai sekarang
                                    </h6>
                                </div>
                            </div>
                            <div class= "aktivitas">
                                <div class = "card jus row justify-content-center mt-2 mr-5 ml-5">
                                    <div class="container">
                                        <div class="row justify-content-between">
                                        <h4 class="ml-2 mt-1 mb-0" id="aktivitas">Aktivitas</h4>
                                        <div class="button">
                                            <button type="button" id="aktivitas_down">v</button>
                                            <button type="button" id="aktivitas_up">ʌ</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class = "card jus row justify-content-center mt-0 mr-5 ml-5">
                                    <h6 class="ml-4 mt-1 mb-1" id="isi_aktivitas">
                                        <ul>
                                            <li>Makan</li>
                                            <li>Tidur</li>
                                            <li>Nonton</li>
                                            <li>Mainin Laptop</li>
                                            <li>Mainin HP</li>
                                        </ul>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <button type="button" class="col align-self-center" id="theme">Click Me</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
    {% block js %}
    <script src="{% static 'story8/main.js' %}"></script> 
    {% endblock %}